.text-muted {
	font-size:9px;
	padding-left:3px
}

html {
	box-sizing: border-box;
	font-size: 100%;
	overflow-y: scroll;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%
}

button,input,textarea {
	-webkit-appearance: none;
	outline: 0;
	-webkit-tap-highlight-color: transparent;
	font-family: "Hiragino Sans GB","Microsoft YaHei",STHeiti,"WenQuanYi Micro Hei",Helvetica,Arial,sans-serif
}

button:focus,input:focus,textarea:focus {
	outline: 0
}

body {
	line-height: 1.8;
	color: rgba(0,0,0,.8);
	font-family: "Microsoft YaHei";
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-moz-font-feature-settings: "liga" on;
	background-color: rgba(246,246,246,.6);
}

article,aside,details,figcaption,figure,footer,header,main,nav,section {
	display: block
}



table {
	border-collapse: collapse;
	border-spacing: 0
}

caption,td,th {
	font-weight: 400;
	text-align: left
}

blockquote:after,blockquote:before,q:after,q:before {
	content: ""
}

blockquote,q {
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	quotes: none
}

blockquote {
	border-left: 5px solid rgba(62, 61, 61, 0.8);
	font-weight: 400;
	letter-spacing: .01rem;
	margin: 30px 0;
	padding-left: 20px
}

a:active,a:hover {
	outline: 0
}

pre {
	padding: 0 20px;
	white-space: pre-wrap;
	word-wrap: break-word;
	font: 14px/22px 'courier new';
	position: relative;
	margin: 40px 0;
	background-color: #f8f8f8
}

pre:after,pre:before {
	display: block;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #2f76bb
}

pre:before {
	content: "-- start --"
}

pre:after {
	content: "-- end --";
	text-align: right
}

code {
	padding: 2px;
	white-space: pre-wrap;
	word-wrap: break-word;
	word-break: break-word;
	letter-spacing: 0;
	font: 14px/26px 'courier new';
	border-radius: 3px
}

pre code {
	padding: 0;
	border-radius: 0
}

img {
	max-width: 100%;
	height: auto
}

.screen-reader-text {
	position: absolute;
	left: -9999px;
	top: -9999px
}

button::-moz-focus-inner {
	border: 0;
	padding: 0
}

a {
	color: inherit;
	text-decoration: none
}

input[disabled] {
	cursor: default;
	color: rgba(0,0,0,.8);
	background-color: rgba(0,0,0,.05)
}

.u-textAlignCenter {
	text-align: center
}

.surface-content {
	margin-left: auto;
	margin-right: auto;
	max-width: 80%;
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: rgba(246, 246, 246, 0);
}

@media (max-width:600px) {
	.surface-content {
		margin: 10px
	}
}

.site-header {
	padding: 32vh 0px;
	background-position: center center;
	background-size: cover;
	background-origin: border-box;
	background-color: #f0f0f0;
	position: relative;
	background-image: url(https://finer04-cos.b0.upaiyun.com/yourname.jpg);
	box-sizing: border-box;
	color: rgba(0,0,0,.8);
	 box-shadow: 0 2px 8px rgba(0,0,0,.25), 0 2px 8px rgba(0,0,0,.12);
}

.site-header .avatar {
	border-radius: 100%;
	border: 3px #fff solid;
	box-shadow: 0 0 0 1px rgba(255,255,255,.8)
}

.site-header:before {
	content: "";
	background-color: rgba(0,0,0,.1);
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0
}

@media (max-width:600px) {
	.site-header {
		padding: 20vh 0
	}
}

.site-header.hasImage {
	color: rgba(255,255,255,.97)
}

.site-title {
	font-size: 24px;
	position: relative;
	margin: 5px 30px;
}

.site-description {
	font-size: 12px;
	position: relative
}

.layoutSingleColumn {
	max-width: 780px;
	margin-left: auto;
	margin-right: auto
}

.main-content {
	padding-left: 60px;
	padding-right: 60px
}

@media (max-width:600px) {
	.main-content {
		padding-left: 0px;
		padding-right: 0px
	}
}

.topNav-items {
	border-bottom: 1px solid rgba(0,0,0,.05);
	line-height: 50px;
	font-size: 14px
}

.menu-item {
	display: inline-block;
	margin-right: 15px;
	color: rgba(0,0,0,.6);
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 1px
}

.menu-item.current-menu-item {
	color: #FFF;
	font-weight: inherit;
}

.block-image {
	background-position: center center;
	background-size: cover;
	background-origin: border-box;
	background-color: #f0f0f0;
	border: 1px solid rgba(0,0,0,.05);
	display: block
}

.button {
	display: inline-block;
	cursor: pointer;
	white-space: nowrap;
	vertical-align: bottom;
	background: 0 0;
	text-decoration: none;
	border-radius: 999em;
	box-sizing: border-box;
	border: 1px solid rgba(0,0,0,.3);
	user-select: none;
	font-size: 14px;
	color: rgba(0,0,0,.3);
	height: 37px;
	padding: 0 16px
}

.button--primary {
	color: #27ae60;
	border-color: #27ae60
}

.block--list {
	padding: 15px 20px;
	position: relative;
	margin-bottom: 32px;
	background-color: #ffffff;
	box-shadow: 0 2px 2px 0 rgba(160,160,160,.16), 0 1px 5px 0 rgba(160,160,160,.16);
}

.block--list .block-title {
	font-size: 24px;
	text-align: center
}

.block--list .block-title a:hover {
	color: #27ae60
}

.block--list:last-child {
	border-bottom: 0
}

.block-postMetaWrap {
	color: #dcdada;
	font-size: 14px;
	margin: 15px 0;
}

.block-postMetaWrap img {
	float: left;
	margin-right: 9pt;
	margin-top: -4px;
	border-radius: 100%
}

.section-header {
	padding-top: 20px;
	padding-bottom: 20px
}

.grap p {text-indent: 0.3em;}

.grap .wp-caption,.grap p.with-img {
	margin-left: -60px;
	margin-right: -60px
}

.grap strong {
	font-weight: 700
}

.grap em {
	font-style: italic
}

.grap ol {
	counter-reset: post
}

.grap h3 {
	margin-top: 30px;
	margin-bottom: 10px;
}

.grap hr {
	margin-top: 32px;
	margin-bottom: 22px;
	display: block;
	border: 0;
	text-align: center
}

.grap hr:before {
	content: '...';
	display: inline-block;
	margin-left: .6em;
	color: rgba(0,0,0,.6);
	position: relative;
	top: -20px;
	font-size: 28px;
	letter-spacing: .6em
}

.grap a {
	text-decoration: underline
}

.wp-caption {
	margin-left: -60px;
	margin-right: -60px;
	width: auto!important
}

.wp-caption .wp-caption-text {
	text-align: center;
	font-size: 14px
}

@media (max-width:600px) {
	.grap .wp-caption,.grap p.with-img {
		margin-left: -15px;
		margin-right: -15px
	}
}

.posts-nav {
	margin: 20px 0
}

.grap--h2 {
	font-size: 24px
}

.postFooterinfo {
	border-top: 1px solid rgba(0,0,0,.05);
	padding-top: 20px;
	padding-bottom: 20px
}

.postFooterinfo .author-name {
	font-size: 18px;
	font-weight: 700;
	margin-bottom: 5px;
	line-height: 1.3
}

.postFooterinfo .author-description {
	color: rgba(0,0,0,.6);
	font-size: 14px
}

.postFooterinfo img {
	border-radius: 100%;
	padding: 4px;
	border: 1px rgba(0,0,0,.05) solid
}

.post-tags {
	margin: 20px 0
}

.post-tags a {
	background-color: rgba(255,255,255,.97);
	border: 1px solid #f0f0f0;
	border-radius: 2px;
	color: rgba(0,0,0,.44);
	display: inline-block;
	font-size: 12px;
	margin-bottom: 8px;
	margin-right: 8px;
	padding: 2px 9px
}

.postFooterAction {
	padding: 20px 0
}

.postFooterAction .postlike-count {
	font-size: 12px;
	color: rgba(0,0,0,.44)
}

.site-footer {
	padding-top: 5px;
	padding-bottom: 1px;
	font-size: 15px;
    color: #888;
}

.site-footer p {
	 margin-bottom: 0;
}

.block-footer {
	color: rgba(0,0,0,.44);
	font-size: 12px;
	border-left: 2px solid rgba(0,0,0,.05);
	padding-left: 10px
}

.inputTextarea {
	resize: none;
	border: 1px #eee solid;
	width: 100%;
	padding: 10px
}

.comment-list .comment-body {
	border-top: 0;
	padding-top: 0;
	position: relative;
	list-style-type:none
}

.comment-list .comment-body .comment-author {
	font-size: 14px
}

.comment-list .comment-body .comment-author .fn {
	font-weight: 700
}

.comment-list .comment-body .comment-author .avatar {
	float: left;
	border-radius: 100%;
	margin-right: 8px;
	margin-top: 8px
}

.comment-list .comment-children {
	margin-left: 50px
}

.comment-list .depth-2 .children {
	margin-left: 0
}

.comment-list-wrap {
	border-bottom: 0;
}

.comment-meta {
	overflow: hidden;
	font-size: 12px;
	color: rgba(0,0,0,.44)
}

.comment-meta .says {
	display: none
}

.comment-content {
	margin-top: 10px;
	margin-bottom: 25px
}

.comment-reply {
	position: absolute;
	top: 20px;
	right: 0
}

.comment-reply a {
	background-color: #27ae60;
	color: #fff;
	font-size: 12px;
	padding: 3px 8px;
	border-radius: 2px
}

.respond {
	margin-top: 30px
}

.required {
	color: #c00
}

.comment-form {
	padding: 0px 0;
}

.comment-form label {
	display: block;
	margin-bottom: 3px;
	cursor: pointer
}

.comment-form p {
	float: left;
	margin-bottom: 5px;
}

.comment-r {
	margin-bottom: 60px
}

.comment-form textarea {
	width: 100%;
	border-color: #CFDADD;
	resize: vertical
}

.comment-form .comment-form-author input,.comment-form .comment-form-email input,.comment-form .comment-form-url input {
	border: 1px rgba(0,0,0,.05) solid;
	height: 30px;
	padding: 0 10px;
	width: 280px;
	font-size: 14px;
	border-radius: 3px;
	color: rgba(0,0,0,.6)
}

.comment-form .comment-form-comment textarea {
	resize: none;
	width: 100%;
	border: 1px rgba(0,0,0,.05) solid;
	box-sizing: border-box;
	padding: 10px;
	border-radius: 3px
}



.comments-title {
	font-weight: 700;
	padding: 2.5rem 0;
}

.comment-reply-title {
	font-size: 18px;
	color: rgba(0,0,0,.44);
	padding: 20px 0;
}

.comment-awaiting-moderation {
	background-color: #fcf8e3;
	color: #c09853;
	font-size: 12px;
	padding: 2px 6px
}

.page-navigator {
	text-align: center;
	padding: 20px 0
}

.page-navigator li {
	border: 1px rgba(0,0,0,.15) solid;
	display: inline-block;
	padding: 1px 10px;
	margin: 5px;
	border-radius: 3px;
	color: rgba(0,0,0,.44)
}

.page-navigator li.current,.page-navigator li:hover {
	background-color: #27ae60;
	color: #fff
}

.page-navigator li a {
	display: block
}

.page404 {
	padding: 200px 0;
	font-size: 36px;
	text-align: center
}

.icon {
	fill: #fff;
	vertical-align: middle
}

.social-links .icon:hover {
	fill: #27ae60
}

.author-meta .icon {
	fill: rgba(0,0,0,.44);
	transform: translate3d(0,-2px,0);
	margin-right: 3px
}

.icon-heart {
	fill: #27ae60
}

.author-meta {
	font-size: 14px;
	font-style: italic;
	color: rgba(0,0,0,.44);
	margin-top: 5px
}

.author-meta-item {
	margin: 5px
}

.social-links {
	position: relative
}

.social-link {
	margin: 0 5px
}

.main-header-content {
	text-align: center
}

.main-header-content .page-title {
	font-size: 24px
}

.main-header-content .page-description {
	color: rgba(0,0,0,.44)
}

.fancy-archive {
	position: relative;
	font-size: 14px;
	color: rgba(0,0,0,.6)
}

.fancy-archive:before {
	content: "";
	width: 3px;
	background-color: rgba(0,0,0,.05);
	position: absolute;
	top: 0;
	bottom: 0;
	left: 100px
}

.archive-year {
	display: inline-block;
	background-color: #fafafa;
	border: 1px solid rgba(0,0,0,.05);
	color: rgba(0,0,0,.44);
	padding: 1px 0;
	width: 120px;
	margin-left: 40px;
	text-align: center;
	position: relative;
	border-radius: 3px;
	margin-top: 30px;
	margin-bottom: 10px
}

.archive-month {
	position: relative;
	font-weight: 700;
	margin-bottom: 15px
}

.archive-month:after,.archive-month:before {
	content: "";
	background-color: #fff;
	height: 19px;
	width: 19px;
	border-radius: 100%;
	position: absolute;
	left: 92px;
	top: 3px
}

.archive-month:after {
	height: 15px;
	width: 15px;
	background-color: #eee;
	left: 94px;
	top: 5px
}

.archive-month:hover:after {
	background-color: #27ae60
}

.fancy-ul {
	margin-left: 100px;
	margin-bottom: 30px
}

.fancy-ul .date {
	margin-left: -80px;
	width: 80px;
	display: inline-block
}

.fancy-ul li {
	position: relative;
	padding-left: 15px
}

.fancy-ul li:after,.fancy-ul li:before {
	content: "";
	background-color: #fff;
	height: 13px;
	width: 13px;
	border-radius: 100%;
	position: absolute;
	left: -5px;
	top: 7px
}

.fancy-ul li:after {
	height: 9px;
	width: 9px;
	background-color: #eee;
	left: -3px;
	top: 9px
}

.fancy-ul li:hover:after {
	background-color: #27ae60
}


@media (max-width:600px) {
	.surface-content {
		max-width: 100%
	}
}

::-webkit-scrollbar-thumb:horizontal {
	width: 5px;
	background-color: #CCC;
	-webkit-border-radius: 6px
}

::-webkit-scrollbar-track-piece {
	background-color: #FFF;
	-webkit-border-radius: 0
}

::-webkit-scrollbar {
	width: 5px;
	height: 8px
}

::-webkit-scrollbar-thumb:vertical {
	height: 50px;
	border: 0 solid #FFF;
	background-color: #999;
	-webkit-border-radius: 4px;
	outline: 1px solid #FFF
}

::-webkit-scrollbar-thumb:hover {
	height: 50px;
	background-color: #9F9F9F;
	-webkit-border-radius: 4px
}

.continueread {
	display: inline-block;
	float: right;
	padding: 6px 25px;
	border: none;
	background: #CECECE;
	color: #FFF!important;
	font-weight: 700;
	font-size: .8em;
	text-align: center;
	border-radius: 30px;
	transition: all .2s;
	text-transform: uppercase
}

@media (max-width:600px) {
	.site-footer {
		padding-right: 15px;
		padding-left: 35px;
	}
}

#loading {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #FFF;
	z-index: 99999
}

#loading-center {
	position: absolute;
	left: 0;
	top: 47%;
	right: 0;
	width: 100%;
	margin: 0 auto;
	text-align: center
}

#loading-center .dot {
	display: inline-block;
	width: 24px;
	height: 24px;
	background: #3AC;
	animation: slide 1s infinite;
	border-radius: 100%
}

#loading-center .dot:nth-child(1) {
	background: #32AACC;
	animation-delay: .1s
}

#loading-center .dot:nth-child(2) {
	background: #64AACC;
	animation-delay: .2s
}

#loading-center .dot:nth-child(3) {
	background: #96AACC;
	animation-delay: .3s
}

#loading-center .dot:nth-child(4) {
	background: #C8AACC;
	animation-delay: .4s
}

#loading-center .dot:nth-child(5) {
	background: #FAAACC;
	animation-delay: .5s
}

@-moz-keyframes slide {
	0%,100% {
		transform: scale(1)
	}

	50% {
		transform: scale(2);
		opacity: .3
	}
}

@-webkit-keyframes slide {
	0%,100% {
		transform: scale(1)
	}

	50% {
		transform: scale(2);
		opacity: .3
	}
}

@-o-keyframes slide {
	0%,100% {
		transform: scale(1)
	}

	50% {
		transform: scale(2);
		opacity: .3
	}
}

@keyframes slide {
	0%,100% {
		transform: scale(1)
	}

	50% {
		transform: scale(2);
		opacity: .3
	}
}

.wrapper {
	-webkit-animation: fade-in 1s;
	animation-duration: 1s
}


.post-header {
	position: absolute;
	bottom: 0;
	margin-left: 15%;
	color: #FFF;
}